h4{
    text-align: center;
    color:  rgb(168, 34, 101);
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(179, 181, 182);
    font-weight: bolder;
}

.img{
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #666666;
  font-size: larger;
}

.coder{
  font-size: large;
  font-weight: bold;
  color:  rgb(187, 137, 44);
  font-size:large;
 font-family: 'Titillium Web', sans-serif;
}

.bracket{
  font-size: xx-large;
}

.code, .mern{
  display: flex;
  align-items: center;
  justify-content: center;
}

.success{
  color: rgb(15, 95, 109);
  font-weight: bolder;
  font-family: 'Titillium Web', sans-serif;
}

.icon{
  color:rgb(15, 95, 109);
 
}

.formula{
  color: rgb(70, 41, 59);
  font-weight: bolder;
  font-family: 'Titillium Web', sans-serif;
}

.stack{
  color:rgb(70, 41, 59);
  font-weight: bold;
}

h3{
  text-align: center;
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-weight: bold;
  color:rgb(70, 41, 59);
}

.progress-bar {  
  background-color: #4AA69F;
}

.label{
text-align: left;
margin-left: 10px;
color:rgb(97, 63, 84);
font-weight: bold;
font-family: 'Titillium Web', sans-serif;
font-size: larger;
}

.progress{
  height: 25px;
}

.mongo{
  font-size: xx-large;
  color:green;
  padding-right: 10px;
}

.react{
  font-size: xx-large;
  color: #4AA69F;
  padding-right: 10px;
}

.node{
  font-size: xx-large;
  color: rgb(21, 61, 16);
  padding-right: 10px;
}

.express{
  font-size: larger;
  color:rgb(70, 41, 59);
  padding-right: 10px;
}

h1{
  text-align: center;
}

.arrow{
  color:rgb(70, 41, 59);
}

.h1{
  color:rgb(158, 23, 23);
}
