.main {
	background: linear-gradient(-45deg,  #b69b93, rgb(221, 212, 221), white, black);
	background-size: 700% 1200%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
h1{
  font-family: 'Gloria Hallelujah', cursive;
  color: rgb(70, 41, 59);
}

.h6{
	color: rgb(70, 41, 59);
}

.full{
  color:rgb(102, 38, 38);
}



.arrow{
	padding-left: 20px;
	color: rgb(158, 23, 23);
	
}

.span{
	padding-left: 10px;
	font-size: larger;
}

