h4{
    text-align: center;
    color:  rgb(105, 62, 89);;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
}


.img{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

p{
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  color: #1b242f;
  font-size: larger;
}

.coder{
  font-size: x-large;
  font-weight: bold;
  color:  rgb(68, 20, 18);
 font-family: 'Titillium Web', sans-serif;
}

.bracket{
  font-size:xx-large;
}

.code, .mern{
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack{
  color:rgb(70, 41, 59);
  font-weight: bold;
}

h3{
  text-align: center;
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-weight: bold;
  color:rgb(70, 41, 59);
}


.mongo-icn{
  font-size: xx-large;
  color:green;
  padding-right: 10px;
}

.react-icn{
  font-size: xx-large;
  color: #4AA69F;
  padding-right: 10px;
}

.node-icn{
  font-size: xx-large;
  color: rgb(21, 61, 16);
  padding-right: 10px;
}

.express-icn{
  font-size: larger;
  color:rgb(70, 41, 59);
  padding-right: 10px;
}

h1{
  text-align: center;
}

.arrow{
  color:rgb(70, 41, 59);
}

.h1{
  color:rgb(70, 41, 59);
  font-family: 'Titillium Web', sans-serif;
}

.span{
	padding-left: 5px;
	font-size: large;
}

.icn{
  font-size: smaller;
}

.progress-bar {  
  background-color: rgb(186, 193, 194);
  border-radius: 0mm ;
}

.label{
  width:100px;
  text-align: center;
  background-color: #253241;
  color:#4AA69F;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  float:left;
  height: 28px;
  border-radius: 1mm 0mm 0mm 1mm;
  font-size: smaller;
  line-height: 1.5rem;
}

.progress{
  height: 28px;
  border-radius: 0mm 1mm 1mm 0mm;
}


