
.form{
    background-color:lightgray;
    padding-left:10px;
    padding-right:10px;
    border-radius: 0.5ex;
}

.submit{
   width:100%;
   background-color: #1b242f;
   border-color: #1b242f;
   color:#4AA69F;
   
}

.submit:hover{
    background-color: #4AA69F;
    border-color:#4AA69F;
    }

.icon-bar {
    position: fixed;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left:10px
  }

  .like-btn{
      background-color: white;
      border-color: white;
      all: unset;
  }

 
  .like-btn:hover {
       text-decoration:none; 
       cursor:pointer;  
       background-color: transparent;
       color: white;
  }
  
  .like{
      font-size: x-large;
      color: #4AA69F
  }

  .count{
    font-size: large;
  }



.getintouch{
   font-family: 'Titillium Web', sans-serif;
   background-color: #1b242f;
   color:#4AA69F;
   padding-top:15px;
   padding-bottom: 15px;
   border-radius: 0.5ex;
}

input, textarea{
    font-family: 'Titillium Web', sans-serif;
    background-color: #1b242f;
}

/* ::placeholder{
    color: #4AA69F
} */