
 .hello {
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	font-size: 250%;
	color: black;
  }

.home{
	background-color: rgb(236, 235, 235);
	padding-left: 15px;
	padding-right: 15px;
}

  .coding{
	font-weight: bold;
	font-size: 450%;

  }



 