
 .hello {
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	font-size: 250%;
	color: black;
  }

.home{
	background-color: rgb(236, 235, 235);
	padding-left: 15px;
	padding-right: 15px;
}

  .coding{
	font-weight: bold;
	font-size: 450%;
  }

  .web{
	font-weight: bold;
	color:#4AA69F;
  }

  .knowme{
	  float:right;
	  border-color:#4AA69F;
	  border-radius: 0;
	  color:black;
	  text-transform: uppercase;
  }
 
  .knowme:hover{
	  background-color:darkgray;
	  border-color:#4AA69F;
  }