
.arrow{
	padding-left: 20px;
	color: rgb(158, 23, 23);
}

 .home{
	padding-right: 0px;
	padding-left: 0px;
 }

 .hello {
	position: absolute;
	top: 40%;
	left: 69%;
	transform: translate(-50%, -50%);
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	font-size: 350%;
	color: rgb(70, 41, 59);
  }

  .get{
	position: absolute;
	bottom: 20px;
	right: 65px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	color:black;
	font-size: xx-large;
  }

  .love{
	  display: none;
  }
 
  @media only screen and (max-width: 600px) {
	.hello {
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 250%;
	  }
	.get{
		display: none;
	}


  }