.portfolio-pic{
    height: 200px;
    width:100%;
    padding-bottom: 10px;
    border-color: black;
   
}


h5{
    padding-left:10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: rgb(71, 7, 77);
    text-align: left;
}


.description{
    text-align: center;
    padding-left:10px;
    font-family: 'Titillium Web', sans-serif;
    color:  #1b242f;
    text-align: left;
}



.glasses{
    padding-left: 10px;
    font-size: x-large;
    color:black
}

a {
    all: unset;
    font-family:'Titillium Web', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(90, 18, 54);
    font-size: larger;
    font-weight: bold;
}


a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}

/* .card{
   box-shadow: 0.5px 0px 0.5px 0.5px rgb(190, 187, 187);
} */

.port{
    padding-right: 120px;
    padding-left: 120px;
}