.portfolio-pic{
    height: 205px;
    width:100%;
    padding-bottom: 10px;
    border-bottom: black;
   
}


h5{
    padding-left:10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    color: black;
    text-align: left;
}


.description{
    padding-left:10px;
    font-family: 'Titillium Web', sans-serif;
    color:  #898e94;
    text-align: left;
}

.glasses{
    padding-left: 10px;
    font-size: x-large;
    color:black
}


a {
    all: unset;
    font-family:'Titillium Web', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b242f;
    font-size: larger;
}


a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
     color:#4AA69F
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: small;
   display:none;
   width:200px;
   height: 40px;
   border-color: white;
}

.address{
    color:#4AA69F;
    font-size: large;
}

.school{
    display: none;
    transform: translate(-0%, -550%);
    text-decoration: underline;
}

.portfolio-card{
    height: fixed;
}
.address:hover{
    color:#4AA69F;

}
.centered:hover{
    background-color: white;
    border-color: white;
    color:#4AA69F;
    opacity: 0.5;
}

.img-container:hover .centered{
    display : block;
}

.img-container:hover .school{
    display : block;
}

.img-container:hover .portfolio-pic {
   opacity:0
}

.img-container:hover{
    height: 205px;
}

.portfolio-card{
    line-height: 0.5em;
}

.arrow2{
    padding-left:5px;
    color:black;
    font-size: smaller;
}