.portfolio-pic {
  height: 180px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: black;
}

h5 {
  padding-left: 10px;
  font-family: "Clarkson", Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
  text-align: left;
}

.description {
  padding-left: 10px;
  font-family: "Clarkson", Helvetica, sans-serif;
  color: #5f6061;
  text-align: left;
  font-size: medium;
}

.learn {
  all: unset;
  font-family: "Clarkson", Helvetica, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b242f;
  text-transform: uppercase;
  font-size: smaller;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #4aa69f;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: none;
  width: 100%;
  height: 40px;
  border-color: white;
}

.address {
  color: #4aa69f;
  font-size: large;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.portfolio-card {
  height: fixed;
  padding: 5px;
}
.address:hover {
  color: #4aa69f;
}
.centered:hover {
  background-color: white;
  border-color: white;
  color: #4aa69f;
}

.img-container:hover .centered {
  display: block;
}

.img-container:hover .school {
  display: block;
}

.img-container:hover .portfolio-pic {
  opacity: 0;
}

.img-container:hover {
  height: 180px;
}

.portfolio-card {
  line-height: 0.5em;
  box-shadow: 0px 1px 3px 0px rgba(78, 77, 77, 0.2);
}

.arrow2 {
  padding-left: 5px;
  color: black;
  font-size: smaller;
}

.projects {
  font-size: x-large;
  text-align: center;
}
