.nav-link {
    color: black !important;
    font-family:  'Titillium Web', sans-serif;
    position:right;
    font-size:medium;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.nav-link:hover{
    opacity:0.5
}

.nav-item{
    padding-right:10px
}

.about{
    text-decoration: underline;
    color:#4AA69F
}

.nav2{
    background-color: #1b242f;
    border-bottom: 3px solid #4AA69F;
}

.navbar-toggler{
    background-color: black;
}

.menu{
    color:#4AA69F
}

.linkedin{
    font-size: xx-large;
    color: #4AA69F;
    padding-right:10px
}

.linkedin:hover{
    opacity: 0.5;
}

.github{
    font-size: x-large;
    color: black;
}

.github:hover{
    opacity: 0.5;
}

 