.nav-link {
    color: rgb(110, 14, 62) !important;
    font-family:  'Gloria Hallelujah', cursive;
    position:right;
    font-size: x-large;
    margin-left:30px;
}


span{
    color: rgb(70, 41, 59);
}

.f{
    color:rgb(110, 14, 62);
}


.portfolio{
    color: rgb(70, 41, 59);
}

.nav2{
    background-color: #1b242f;
    border-bottom: 3px solid #4AA69F;
    
}

.navbar-toggler{
    background-color: black;
}

.menu{
    color:#4AA69F
}

.linkedin{
    font-size: xx-large;
    color: #4AA69F;
    padding-right:10px
}

.github{
    font-size: x-large;
    color: black;
}

 @media only screen and (max-width: 600px) {
    .nav-link{
       font-size: small;
      
    }
 }

 