.nav-link {
    color: rgb(87, 50, 73) !important;
    font-family:  'Titillium Web', sans-serif;
    position:right;
    font-size: x-large;
    font-weight: bold;
    margin-left:30px;
}

.nav-link:hover{
    opacity:0.5
}


.about{
    text-decoration: underline;
    color:#4AA69F
}

.nav2{
    background-color: #1b242f;
    border-bottom: 3px solid #4AA69F;
}

.navbar-toggler{
    background-color: black;
}

.menu{
    color:#4AA69F
}

.linkedin{
    font-size: xx-large;
    color: #4AA69F;
    padding-right:10px
}

.linkedin:hover{
    opacity: 0.5;
}

.github{
    font-size: x-large;
    color: black;
}

.github:hover{
    opacity: 0.5;
}

 @media only screen and (max-width: 600px) {
    .nav-link{
       font-size: small;
      
    }
 }

 