footer {
  position: sticky;
  width:100%;
  bottom: 0; 
  background-color: #1b242f;
 
}

.footer {
  bottom: 0;
  padding: 10px;
  color:#8658eb;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  
  font-size: larger;
  
}

.foot{
  padding-left: 0px;
  padding-right: 0px;
}

.copy{
  color:#4AA69F;
  font-size: smaller;
  font-weight: lighter;
}



.like{
  float: left;
  background-color: #1b242f;
  border-color: #1b242f;
  top:0px;
  height: 35px;
  text-align: center;
}


.like-icn{
  font-size: x-large;
  color: #4AA69F;
  float:left;
}

.like-icn:hover{
  color:#8658eb
}

.count{
  float:left;
  color:#4AA69F;
  padding-left:5px;
  font-size: large;
}

